<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Rock, Paper, Shotgun</title>
    <link rel="stylesheet" href="style.css">
  </head>
  <body>
    <nav>
      <li><a href="/"></a>Home</li>
      <li><a href="/play"></a>Play</li>
      <li><a href="/result"></a>Result</li>
    </nav>

    <%= yield %>

  </body>
</html>
